.manager-info-block{
	display: flex;
	align-items: center;
	font-size: 13px;
	line-height: 1.45;
	margin-bottom: 2px;
	margin-top: 13px;

	.avatar{
		flex: none;
		margin-right: 4px;

		img{
			display: block;
			width: 42px;
			height: 42px;
			object-fit: cover;
			object-position: center center;
			border-radius: 50%;
		}
	}

	.name{
		strong{
			font-size: 14px;
		}
	}
}

.manager-contacts-block{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 14px 10px;
	background: #F8F4F4;
	position: relative;

	.block-actions{
		display: flex;
		align-items: flex-start;
		margin-left: 20px;
		position: absolute;
		top: 14px;
		right: 21px;

		.action-btn{
			margin-right: 22px;

			&:last-child{
				margin-right: 0;
			}

			&:hover{
				.btn-icon{
					fill: $text-color;
				}
			}
		}
	}

	.block-phones{
		.phone-link{
			margin-bottom: 10px;
			font-size: 14px;

			&:last-child{
				margin-bottom: 0;
			}

			.link-icon{
				width: 13px;
				height: 13px;
				margin-right: 5px;
				fill: $primary;
			}
		}
	}
}