.tabs-nav{
	display: flex;
	// width: calc(100% + 30px * 2);
	// margin-left: -30px;
	// margin-right: -30px;
	// padding-left: 30px;
	border-bottom: 1px solid #FFAB6B;

	li{
		flex: auto;
		width: 100%;

		&:last-child{
			margin-bottom: 0;
		}

		a{
			font-size: 15px;
			line-height: 44px;
			color: inherit;
			width: 100%;
			text-align: center;
			display: block;
			position: relative;

			&:after{
				content: '';
				display: block;
				width: 100%;
				height: 2px;
				background: #E77A39;
				position: absolute;
				bottom: -1px;
				left: 0;
				transition: all $t;
				opacity: 0;
			}

			&:hover,
			&:focus{
				color: $primary;
			}
		}

		&.current-menu-item,
		&.current-menu-parent{
			a{
				color: $primary;

				&:after{
					opacity: 1;
				}
			}
		}
		
		&.current-menu-item{
			a{
				cursor: default;
			}
		}
	}

	@media screen and (max-width: 767px){
		flex-wrap: wrap;
		margin-bottom: -10px;

		li{
			margin-bottom: 10px;

			&:last-child{
				margin-right: 0;
			}

			a{
				font-size: 14px;
				line-height: 30px;
			}
		}
	}
}